body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Roboto Mono', sans-serif;
}

.main-page-text {
  margin: 20px;
  text-align: center;
  font-weight: bold;
}