@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  color: white;
}

input:focus form:focus{
  outline:none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Roboto Mono', sans-serif;
}

.date-input {
  background-color: black;
  color: white;
  border: 1px solid white;
  position: relative;
  padding-right: 30px;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.date-input::-webkit-datetime-edit-year-field {
  width: 4ch;
}

.date-input::selection {
  background: lightcoral;
  color: white;
}